ConsoleApp1/ConsoleApp1/Connected Services/ServiceReference1/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClienteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfServiceCliente/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfServiceCliente/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" />
      <xsd:import schemaLocation="http://localhost/WcfServiceCliente/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObtenerCliente" message="tns:IClienteService_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObtenerClienteResponse" message="tns:IClienteService_ObtenerCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/ObtenerClienteErrorFault" name="ErrorFault" message="tns:IClienteService_ObtenerCliente_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ListarCliente" message="tns:IClienteService_ListarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ListarClienteResponse" message="tns:IClienteService_ListarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IClienteService" type="tns:IClienteService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClienteService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerCliente">
      <soap12:operation soapAction="http://tempuri.org/IClienteService/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap12:operation soapAction="http://tempuri.org/IClienteService/ListarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost/WcfServiceCliente/ClienteService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IClienteService" binding="tns:NetTcpBinding_IClienteService">
      <soap12:address location="net.tcp://desktop-1gmqs60/WcfServiceCliente/ClienteService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://desktop-1gmqs60/WcfServiceCliente/ClienteService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-1GMQS60</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>